@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: #020617;
  --text-light: #f8fafc;
}

body {
  @apply bg-dark-900 text-white;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

.glass-morphism {
  @apply bg-opacity-10 backdrop-blur-lg border border-white border-opacity-10;
}